.title :hover {
    color: red;
}

.subtitle {
    color: blue;
}

#contact-us {
    color: green;
}

/* li:first-child{
    color: yellow
}

li:last-child{
    color: aqua;
}

li:nth-child(2){
    color: brown;
} */

/* li :only-child{
    color: green;
} */

/* #g-link:link{
    color: blueviolet;
}

g-link :visited {
    color: red; 
} */

/* tags consective */
h1 + a {
    color: red;
}

/* tags consective and under same parent */
textarea ~ button {
    color: purple;
}

/* every child element inside parent */
/* ul > li{
    color: green;
} */

/* parent to child and their child */
ul li {
    color: green;
}