.title :hover {
    color: red;
}

.subtitle {
    color: blue;
}

#contact-us {
    color: green;
}

li:first-child{
    color: yellow
}

li:last-child{
    color: aqua;
}

li:nth-child(2){
    color: brown;
}

/* li :only-child{
    color: green;
} */

#g-link :link{
    color: blueviolet;
}

g-link :visited {
    color: red;
}